doctype html
html
  head
    title Player
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="bower_components/webcomponentsjs/webcomponents-lite.js")
    link(rel="import" href="bower_components/polymer/polymer.html")
    link(rel="import" href="elements/player-page/index.html")
    script(src="bower_components/lodash/lodash.min.js")
    style
      :stylus(minify=true)
        body
          background rgba(0 0 0 .9)
          font-family 'Moderat Trial', sans-serif
  body
    template(id="t" is="dom-bind")
      player-page
