link(rel="import" href="./bower_components/polymer/polymer.html")
link(rel="import" href="./svg-icons.html")
link(rel="import" href="./bower_components/iron-image/iron-image.html")

dom-module(id="play-button")

  template
    style
      :stylus(minify=true)
        :host
          display block
          cursor pointer
          position relative
          width 60px
          height 60px
          overflow hidden
          border-radius 50%
          &:hover iron-icon
            fill RGBA(46, 66, 184, 0)
        iron-image
          width 60px
          height 60px
        iron-icon
          transition fill 200ms ease-in-out
          fill RGBA(46, 66, 184, .9)
          width 54px
          height 54px
          margin 3px
          position absolute
          left 0
    iron-image(preload src="{{artwork}}" sizing="cover")
    template(is="dom-if" if="{{playing}}")
      iron-icon(icon="svg-icons:pause")
    template(is="dom-if" if="{{!playing}}")
      iron-icon(icon="svg-icons:play")
  script
    :livescript(minify=true)
      Polymer do
        is: 'play-button'
        properties:
          path:
            type: String
            notify: true
          paused:
            type: Boolean
            value: false
          playing:
            type: Boolean
            value: false
