link(rel="import" href="../../bower_components/polymer/polymer.html")

dom-module(id="playlist-item")

  template
    style
      :stylus(minify=true)
        :host
          display block

    div {{data.title}}
    content

  script
    :livescript(minify=true)
      Polymer do

        is: 'playlist-item'

        properties:
          data:
            type: Object
            notify: true
